<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet" />
<link type="text/css" href="styles.css" rel="stylesheet" />

<body>
    <div class="container">
        <h1>Calculator</h1>
        <form name="donate-form" method="POST" action="calculate">
            <fieldset>
                <div class="form-group"><label for="a">A</label><input id="a" name="a" class="form-control" type="input"
                        value="" /></div>
                <div class="form-group"><label for="b">B</label><input id="b" name="b" class="form-control" type="input"
                        value="" /></div><button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>