<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet" />
<link type="text/css" href="/static/styles.css" rel="stylesheet" />

<body>
    <div class="container">
        <h1>Calculation Result</h1>
        <div class="row">
            <p class="large-text">The sum of {{a}} and {{b}} is {{result}}.</p>
        </div>
        <div class="row"><a class="btn btn-primary" href="/calculate">New Calculation</a><a class="btn btn-secondary"
                href="/">Logout</a></div>
    </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
