<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet" />
<link type="text/css" href="styles.css" rel="stylesheet" />

<body>
  <div class="container">
    <h1>Login</h1>
    <form name="login" method="POST" action="/">
      <div class="form-group"><label for="user">User</label><input id="user" name="user" class="form-control"
          type="input" value="" /></div>
      <div class="form-group"><label for="password">Password</label><input id="password" name="password"
          class="form-control" type="password" value="" /></div><input type="submit" class="btn btn-primary"
        value="Submit" />
    </form>
  </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>